<nb-layout center>
  <!-- header -->
  <nb-layout-header fixed>
      <img src="assets/logo.png" width=64>
      <h1>FileBox</h1>
  </nb-layout-header>

  <nb-layout-column>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nihil nostrum hic delectus enim esse dolor quaerat ratione velit ex, similique placeat ut ipsam autem odio harum ea mollitia culpa.</p>
  </nb-layout-column>

  <!-- footer -->
  <nb-layout-footer>
    <nb-layout-column>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, dicta pariatur! Tempore, animi quis quo cumque quod sit debitis amet deserunt veritatis delectus nam aspernatur natus mollitia ea quae numquam.</p>
    </nb-layout-column>
  </nb-layout-footer>
  
</nb-layout>

<router-outlet></router-outlet>